#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

require 'rubygems'
require 'data_mapper'
require 'dm-migrations'

if __FILE__ == $0
	DataMapper::Logger.new($stdout, :debug)
	DataMapper.setup(:default, "mysql://root:rober@172.31.19.219/mydb")
end

class <%= @nombre.capitalize %>
	include DataMapper::Resource
	<% @campos.each do |c| %>
		<% if c==@campos.first %>
			property :<%= c.nombre %>, Serial
		<% else %>	
			property :<%= c.nombre %>, <%= c.tipo %>
		<% end %>
	<% end %>

	def to_s
		puts "#{self[:<%=@campos[0].nombre %>]} - #{self[:<%=@campos[1].nombre %>]}\n "	
	end
end


DataMapper.finalize
DataMapper.auto_upgrade!